@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: whitesmoke;
}

img {
    max-width: 100%;
    display: block;
}

.smooth-transition {
    transition: all 0.3s ease;
}

.smooth-transition:hover,
.smooth-transition:active,
.smooth-transition:focus
{
    transition: 0.4s ease-in-out 0s;
}

.skin {
    height: 100vh;
    width: 100%;
    background: rgba(1, 1, 1, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-card-bg {
    background: rgba(5, 55, 115, 0.7);
}

.input-border-outline:focus {
    outline-style: none !important;
}

.menu-item {
    list-style: none;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: 0.2s all ease-in 0s;
    position: relative;
    z-index: 1;
}

.menu-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    background-color: rebeccapurple;
    transition: 0.2s all ease-in-out 0s;
}

.menu-item:hover::before {
    top: 0;
    bottom: unset;
    height: 100%;
    border-top: 2px solid whitesmoke;
}

.menu-item:hover {
    background-color: rebeccapurple;
    color: white;
}

.slider-text {
    position: absolute;
    top: 100px;
    left: 5%;
    color: rgb(9, 55, 115);
    font-size: 3rem;
    margin-top: 200px;
    /* width: 28%; */
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
}

.left {
    height: 100%;
    width: 90%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 500%;
    box-shadow: 2px 2px 5px rgb(9, 55, 115);
}

.under-left {
    height: 100%;
    width: 41.5%;
    box-shadow: 2px 2px 5px rgb(9, 55, 115);
    background: rgb(9, 55, 115);
    border-right: 10px solid whitesmoke;
    border-top-right-radius: 200%;
    border-bottom-right-radius: 1000%;
    padding: 0;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: whitesmoke;
    margin: 0 !important;
}

.cover-bg {
    background: linear-gradient(
        135deg,
        white,
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0.9)
    );
    height: 100vh;
    width: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 500%;
}

.right {
    height: 100vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-page-content {
    width: 80%;
}

.title-top {
    font-weight: 400;
    color: rgb(9, 55, 115);
    text-transform: capitalize;
    text-shadow: 2px 2px 5px silver;
}

.leading-15 {
    line-height: 3.5rem;
}

.title-bottom {
    font-weight: 500;
    color: rgb(9, 55, 115);
    text-transform: uppercase;
    text-shadow: 2px 2px 5px silver;
}

.A320 {
    margin-top: 100px;
    margin-left: 250px;
    position: absolute;
    animation: flight 1.5s ease-in-out;
    -webkit-animation: flight 1.5s ease-in-out;
}

@keyframes flight {
    from {
        left: -1000px;
    }
    to {
        left: 0;
    }
}

@media(max-width: 1350px) {
    .A320 {
        margin-left: 150px;
    }
}

@media(max-width: 1330px) {
    .A320 {
        margin-left: 100px;
    }
}

@media(max-width: 1225px) {
    .A320 {
        height: 150px;
    }
}

@media(max-width: 1100px) {
    .A320 {
        height: 140px;
    }
}

@media(max-width: 1024px) {
    .A320, .under-left {
        display: none;
    }

    .right {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-top, .title-bottom {
        width: 50%;
        font-size: 25px;
        line-height: 2rem;
        text-align: center;
        padding: 0;
    }

    .open-page-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .booking-form-public {
        width: 80% !important;
        position: relative;
        top: -50px;
        margin-right: 0 !important;
    }
}

@media(max-width: 400px) {
    .booking-form-public {
        width: 100% !important;
        position: relative;
        top: -50px;
        margin-right: 0 !important;
    }
}

.booking-form-public {
    width: 180%;
    height: auto;
    float: right;
    position: relative;
    top: 70px;
    margin-right: 30px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 5px #ced4da;
    background: whitesmoke;
}

.booking-form-private {
    height: auto;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background: whitesmoke;
}

.select-list {
    width: 95%;
    height: 120px;
    border: 1px solid #9e9e9e;
    background: whitesmoke;
    margin-left: 45px;
    position: absolute;
    top: 0;
    z-index: 11;
    display: none;
}

.select-list li {
    text-transform: capitalize;
    padding: 0.25rem;
    cursor: pointer;
}

.select-list li:hover {
    background: #ced4da;
    color: rgb(5, 55, 115);
}

.passengers {
    display: none;
}

input[type=date]:required:invalid {
    color: transparent;
}
input[type=date]:focus {
    color: black !important;
}

.hw-100 {
    height: 100vh;
    width: 100%;
}

/* Home content */

.main-title {
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(5, 55, 115);
    text-shadow: 2px 2px 5px silver;
    font-weight: 600;
    font-size: 25px;
}

.main-subtitle {
    margin-bottom: 5px;
    text-align: center;
    color: rgb(5, 55, 115);
    text-shadow: 2px 2px 5px silver;
    font-weight: 400;
    font-size: 18px;
}

/*------------ Card settings -------------*/

.card h4 span {
    font-size: 0.8rem;
    padding-right: 10px;
}

.skin-cover {
    background: linear-gradient(180deg, transparent, rgb(5, 55, 115));
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 0.5rem;
    transform: translateY(1rem);
}

.skin-cover h5 {
    margin-top: 0;
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.skin-cover h6 {
    text-transform: capitalize;
    margin: 0;
}

/*--About settings--*/

.about-content {
    width: 100%;
    height: 100vh;
    background-color: #093773;
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid #093773;
    box-shadow: none;
}

.about-content-header {
    height: 40vh;
    width: 100%;
    background-color: whitesmoke;
}

.color-box {
    height: 40vh;
    width: 100%;
    background: #093773;
    border-bottom-right-radius: 80%;
    display: flex;
    justify-content: space-around;
}

.color-box h1 {
    color: whitesmoke;
    text-shadow: 2px 2px 5px silver;
    padding: 100px 50px;
    display: block;
    width: 400px;
    font-size: 3rem;
}

.text-content h3 {
    color: rgb(9, 55, 115);
    text-shadow: 2px 2px 5px silver;
    margin-bottom: 10px;
    font-size: 2rem;
}

.main-content {
    width: 72%;
}

.top {
    border-bottom: 1px solid silver;
    background-color: whitesmoke;
    padding: 25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: 150px;
    width: 113.2%;
}

.upper,
.center {
    display: flex;
    margin-bottom: 50px;
}

.under {
    display: flex;
}

.office {
    width: 20%;
    margin-right: 55px;
    border-top-left-radius: 30px;
}

.pilot {
    width: 20%;
    margin-right: 55px;
}

.stewardess {
    width: 20%;
    margin-right: 55px;
    border-bottom-left-radius: 30px;
}

article {
    line-height: 1.7rem;
    text-align: justify;
}

.text-content {
    margin-right: 50px;
}

.img-box {
    width: 100%;
    height: 60vh;
}

.bottom-box {
    width: 100%;
    height: 100vh;
}

.counters h3 {
    color: whitesmoke;
    text-align: center;
    padding-top: 70px;
    text-shadow: 2px 2px 5px silver;
    padding-bottom: 50px;
}

.counters .container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: whitesmoke;
}

.counters .container div {
    background: rgba(51, 100, 179, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.awards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    align-items: center;
    width: 20%;
}

.before-enter {
    opacity: 0;
    transform: translateY(100px);
    transition: all 2s ease-out;
}

.enter {
    opacity: 1;
    transform: translateY(0px);
}

/* Feedback carousel */

.slide {
    width: 75%;
}

.slide-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px;
}

.slide-card {
    box-shadow: 5px 5px 5px rgb(39, 39, 39);
    background: linear-gradient(
        135deg,
        lightblue,
        rgb(51, 100, 179),
        rgb(51, 100, 179),
        lightblue
    );
}

.slide-top {
    width: 80%;
    height: 33%;
    display: flex;
}

.customer-name {
    color: whitesmoke;
    font-size: 1.2rem;
    width: 100%;
}

.comment {
    color: whitesmoke;
    margin-top: 50px;
    padding: 0 20px;
}

.about-skin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.3);
}

/*************** Custom classes ********************/

.text-shadow {
    text-shadow: 2px 2px 5px black;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 400px){
    .nano-text {
        font-size: 10px;
        line-height: 14px;
    }
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

/*------------- Home main settings ------------*/

main {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.top-destinations {
    height: auto;
    width: auto;
    background: whitesmoke;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 1rem;
    padding: 40px 0;
}

@media(max-width: 1350px) {
    .top-destinations {
        width: 577px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
        margin-left: auto;
        margin-right: auto;
    }

    .other-services {
        height: 380px !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .car-rent, .hotel-booking {
        height: 150px !important;
    }
}

@media(max-width: 780px) {
    .top-destinations {
        width: 280px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 500px) {
    .other-services {
        height: 280px !important;
    }
    .car-rent, .hotel-booking {
        height: auto !important;
        width: auto !important;
        background-position-y: 0 !important;
    }

    .outer-service-title-car,
    .outer-service-title-hotel{
        position: relative !important;
        top: -30px !important;
    }

    .outer-service-title-car {
        right: -90px !important;
    }

    .outer-service-title-hotel {
        left: -90px !important;
    }
}

@media(max-width: 300px) {
    .top-destinations {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        width: 100%;
    }
}

/*------------ Card settings -------------*/

.card {
    height: 320px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    box-shadow: 5px 5px 10px rgb(5, 55, 115);
}

.card:hover .skin-cover {
    transform: translateY(0rem);
}

a:hover {
    text-decoration: none;
}

.card h4 {
    background: rebeccapurple;
    height: 3rem;
    color: whitesmoke;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0 0 50px;
    margin: 0 0 70px 140px;
    transform: rotate(45deg);
}

.skin-cover h5 {
    margin-top: 0;
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.skin-cover h6 {
    text-transform: capitalize;
    margin: 0;
}

.other-services {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.skin_ {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.outer-service-title-car,
.outer-service-title-hotel {
    color: whitesmoke;
    margin-top: 70px;
}

.outer-service-title-car {
    text-align: end;
    padding-right: 100px;
}

.outer-service-title-hotel {
    text-align: start;
    padding-left: 100px;
}

.car-rent {
    height: 80%;
    width: 460px;
    background-position-y: -70px;
    background-size: 100%;
    transition: all 1s ease 0s;
}

.hotel-booking {
    height: 80%;
    width: 460px;
    background-position-y: -80px;
    background-size: 100%;
    transition: all 1s ease 0s;
}

.car-rent:hover,
.hotel-booking:hover {
    background-size: 110%;
    background-position-y: -100px;
    transition: all 1s ease 0s;
}
